#image-preview-container {
    position: fixed;
    z-index: 99999;
}

#image-preview-container img {
    display: block;
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 800px;
    background-color: transparent;
}

.image-preview-thumbnail {
    display: block;
    position: relative;
    text-align: center;
    margin: 0.5em auto;
}